
/*Cambio de estilo por etiqueta*/
body {
    background: radial-gradient(
    ellipse farthest-corner at 50% 100%,
    #63acb0,
    #1d3679 90%
  );

  width: 100%;
  height: 1000px;
  font-family: 'Roboto Mono', monospace;
}


h2{
    font-weight: 700;
    color: aliceblue;
}


/*Cambio de estilo por ID*/

#imagenDigimon{
    width: 66%;
}

#nombreDigimon{

    font-size: 2em;
    color:#1d3679;
}


#parrafoNivel{
    font-size: 26px;
    font-weight: 300;
}

#levelIcon{

    width: 20%;
}

#formDigimon{
    background-color: #ffffff54;
    font-size: 1.2em;
    color:white;
}

#logo{
    width: 12%;
}

#barraNavegacion{
    background-color: #ffffff10;
}

#fotoFooter{
    background-image: url(../img/foto-footer.jpg);
    background-size: cover;
    background-attachment:inherit;
    background-position: center;
    align-items: center;
    width: auto;
    height: 400px;
    margin-top: 3em;
}

@media only screen and (max-width: 768px) {
    #logo {
      width: 23%;
    }

    #imagenDigimon{
        width: 100%;
        padding-left: 15%;
    }

    #nombreDigimon{

        font-size: 1.6em;
        color:#1d3679;
    }

    #parrafoNivel{
        font-size: 1.2em;
        font-weight: 300;
    }
  }
